@font-face {
    font-family: 'omyu_pretty';
    src: url('../assets/fonts/omyu\ pretty.ttf');
}

/* Header, Footer 포함 페이지 전체 공통 폰트 */
@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 메인 페이지 타이틀 폰트 */
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2')
        format('woff2');
    font-weight: 900;
    font-style: normal;
}

/* 메인 페이지 설명 텍스트, 서비스 소개 페이지에서 사용하는 폰트 */
@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 페이지 타이틀 폰트 */
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 식물 말풍선 폰트 */
@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 챌린지 타이틀 폰트 */
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 챌린지 박스 폰트 */
@font-face {
    font-family: 'PeoplefirstNeatLoudTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-2@1.0/PeoplefirstNeatLoudTTF.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}
